<%# Must exist:
    matches,
    isPlayerMatch,
    isTeamMatch,
    getMatchPath,
    hasModifyPermission
    editInvitationPath (function that receives a match, only needed if hasModifyPermission is true),

  Optional: title,
%>

<% if (locals.title) { %>
  <h4><%= title %></h4>
<% } %>
<% if (matches.length > 0) { %>
  <ul>
    <% matches.forEach((match) => { %>
      <li class="list-item">
        <a class="lilink" href="<%= getMatchPath(match) %>">
          <div>
            <span>
              <strong>
                <%= match.name %>
              </strong>
            </span>
            <% if (match.date) { %>
              <span>
                Fecha: <%= prettyTimestamp(match.date) %>
              </span>
            <% } %>
            <% if (isPlayerMatch && match.isPlayerInvited.isAdmin) { %>
              <span>
                Admin del partido
              </span>
            <% } else if (locals.isTeamMatch) { %>
              <span>
                <%= invitationToString(match.isTeamInvited.status, { editing: false }) %>
              </span>
            <% } %>
          </div>
          <% if (hasModifyPermission) { %>
            <%- include('../_buttons/edit', { editPath: editInvitationPath(match), useImage: true }) %>
          <% } %>
        </a>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No hay partidos</p>
<% } %>
