<h1><%= match.id %></h1>
<p>
  Fecha: <%= match.date%>
  <br>
</p>

<form action=<%= editMatchPath %>>
    <input type="submit" value="Editar"/>
</form>

<form action="<%= deleteMatchPath %>" method="post">
  <div>
    <input type="hidden" name="_method" value="delete" />
  </div>
  <div>
    <input type="submit" name="delete" value="Eliminar" />
  </div>
</form>

<br />

<form action=<%= matchesPath %>>
    <input type="submit" value="Volver a todos los partidos"/>
</form>
