<div class="center">
  <h1><%= match.name %></h1>
  <p>
    Fecha: <%= match.date%>

    Deporte: <%= sport %>
  </p>

  <% if (hasModifyPermission) { %>
    <%- include('../_buttons/edit', { editPath: editMatchPath }) %>

    <%- include('../_buttons/delete', { deletePath: deleteMatchPath }) %>
  <% } %>


  <% if(invitedPlayers.length > 0) { %>
    <h4> Jugadores que participan: </h4>
    <ul>
      <% invitedPlayers.forEach((player) => { %>
        <li>

          <a href="<%= getPlayerPath(player) %>">
            <%= player.firstName %> <%= player.lastName %>
          </a>

          <%= (player.isPlayerInvited.isAdmin) ? '-- Admin del partido' : '' %>
          --
          <%= invitationToString(player.isPlayerInvited.status) %>

          <% if(hasModifyPermission) { %>
            <%- include('../_buttons/edit', { editPath: editInvitedPlayerPath(player) }) %>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    No contiene jugadores.
  <% } %>

  <% if (hasModifyPermission) { %>
    <form action="<%= newInvitedPlayerPath %>">
        <input type="submit" value="Añadir Jugador" />
    </form>
  <% } %>

  <% if(invitedTeams.length > 0) { %>
    <h4> Equipos que participan: </h4>
    <ul>
      <% invitedTeams.forEach((team) => { %>
        <li>

          <a href="<%= getTeamPath(team) %>">
            <%= team.name %>
          </a>

          --
          <%= invitationToString(team.isTeamInvited.status) %>

          <% if(hasModifyPermission) { %>
            <%- include('../_buttons/edit', {
              editPath: editInvitedTeamPath(team),
              message: 'Editar invitación',
            }) %>
          <% } %>

        </li>
      <% }) %>
    </ul>
  <% } else { %>
    No hay equipos invitados.
  <% } %>

  <% if (hasModifyPermission) { %>
    <form action="<%= newInvitedTeamPath %>">
        <input type="submit" value="Invitar equipo" />
    </form>
  <% } %>

  <% if(schedule && field) { %>
    <h4> Cancha para el partido: </h4>
    <%= field.name %>
    <%= schedule.status %>
    <%= schedule.hours %>
  <% } else { %>
    No hay canchas pedidas.
  <% } %>

  <%- include('../_buttons/back', { backPath: matchesPath, message: 'Volver a todos los partidos' }) %>

</div>
