<h1><%= match.id %></h1>
<p>
  Fecha: <%= match.date%>
  <br>
  Deporte: <%= sport %>
</p>

<% if (hasModifyPermission) { %>
<form action=<%= editMatchPath %>>
    <input type="submit" value="Editar"/>
</form>

<form action="<%= deleteMatchPath %>" method="post">
  <div>
    <input type="hidden" name="_method" value="delete" />
  </div>
  <div>
    <input type="submit" name="delete" value="Eliminar" />
  </div>
</form>
<% } %>

<br />
<% if(matchPlayers.length > 0) { %>
  <h4> Jugadores que participan: </h4>
  <ul>
    <% matchPlayers.forEach((player) => { %>
      <li>

        <a href="<%= getPlayerPath(player) %>">
          <%= player.firstName %> <%= player.lastName %>
        </a>

        <%= (player.isInvited.isAdmin) ? '-- Admin del partido' : '' %>

        -- 
        <%= statusMessage(player.isInvited.status) %>


        <% if(hasModifyPermission) { %>

          <form action="<%= editMatchPlayerPath(player) %>">
              <input type="submit" value="Editar" />
          </form>

        <% } %>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  No contiene jugadores.
<% } %>

<% if (hasModifyPermission) { %>
  <form action=<%= newMatchPlayerPath %>>
      <input type="submit" value="Añadir Jugador" />
  </form>
<% } %>

<form action=<%= matchesPath %>>
    <input type="submit" value="Volver a todos los partidos"/>
</form>
