<div id="body-container">
  <div class="jumbotron">
    <div id="match-column-left" class="column-30">
      <div id="match-card" class="box-container">
        <h3><%= match.name %></h3>
        <p><%= match.sport.name %></p>
        <p>
          <% if(match.date) { %>
            Fecha: <%= prettyTimestamp(match.date) %>
          <% } else { %>
            No hay fecha aún
          <% } %>
        </p>

        <% if (hasModifyPermission) { %>
          <%- include('../_buttons/edit', { editPath: editMatchPath }) %>

          <%- include('../_buttons/delete', { deletePath: deleteMatchPath }) %>
        <% } %>

        <% if(canEnableReviews) { %>
          <form action="<%= enableReviews %>" method="post">
            <input type="submit" value="Activar reviews"/>
          </form>
        <% } %>


      </div>

      <div id="match-field" class="box-container">
        <h4> Cancha para el partido </h4>
        <% if(schedule && field) { %>
          <div>
            <span>
              <strong>
                <a href="<%= getFieldPath(field) %>"><%= field.name %></a>
              </strong>
            </span>
            <span><%= schedule.status %></span>
            <span><%= prettyDatestamp(schedule.date) %></span>
            <span><%= schedule.hours %></span>
          </div>

          <form action="<%= removeSchedulePath %>" method="post">
            <input type="submit" value="Anular Reserva" />
          </form>
        <% } else { %>
          <p>No hay canchas pedidas</p>

          <form action="<%= selectCompoundPath %>" method="get">
            <input type="submit" value="Pedir Cancha" />
          </form>
        <% } %>

      </div>


    </div>

    <div id="match-column-center" class="column-40">
      <div id="match-teams" class="box-container">
        <h4> Equipos que participan </h4>
        <% if(invitedTeams.length > 0) { %>
          <ul>
            <% invitedTeams.forEach((team) => { %>
              <li class="list-item">
                <img class="small-logo" src="<%= team.logo %>"/>
                <a class="lilink" href="<%= getTeamPath(team) %>">
                  <div>
                    <span>
                      <strong><%= team.name %></strong>
                    </span>
                    <span>
                      <%= invitationToString(team.isTeamInvited.status) %>
                    </span>
                  </div>
                </a>

                <% if(hasModifyPermission) { %>
                  <%- include('../_buttons/edit', {
                    editPath: editInvitedTeamPath(team),
                    message: 'Editar invitación',
                    useImage: true,
                  }) %>
                <% } %>

              </li>
            <% }) %>
          </ul>
        <% } else { %>
          <p>No hay equipos invitados</p>
        <% } %>


        <% if (hasModifyPermission) { %>
          <form action="<%= newInvitedTeamPath %>">
              <input type="submit" value="Invitar equipo" />
          </form>
        <% } %>
      </div>

      <div id="match-players" class="box-container">
        <h4> Jugadores que participan </h4>
        <%- include('../players/_index', {
          players: invitedPlayers,
          isInvitedToMatch: true,
          editParticipationPath: editInvitedPlayerPath,
        }) %>

        <% if (hasModifyPermission) { %>
          <form action="<%= newInvitedPlayerPath %>">
            <input type="submit" value="Añadir Jugador" />
          </form>
        <% } %>
      </div>


    </div>

    <div id="match-column-right" class="column-30">

      <% if(reviewsEnabled) { %>
        <div id="match-reviews" class="box-container">
          <%- include('../playerReviews/index-pending', { pendingReviews }) %>
          <%- include('../playerReviews/index-done', { doneReviews, showReviewer: false }) %>

          <%- include('../compoundReviews/show') %>
        </div>
      <% } %>

      <div id="match-comments-react-app"
        class="box-container"
        data-match-id="<%= match.id %>"
        data-can-comment="<%= canComment %>"
        >
      </div>

    </div>

  </div>
</div>
