<div class ="center">
  <h1> Editar solicitudes de partido %></h1>

  <%- include('../_error/snippet', { errors: locals.errors }) %>

  <div>
    <%= match.name %> - <%= match.date %>

    <%- include('../_invitations/form', {
      invitation: match.isPlayerInvited,
      chooseStatuses,
      submitPath: submitPlayerMatchPath,
      hasAdminPermission: match.isPlayerInvited.isAdmin,
    }) %>

  </div>

  <%- include('../_buttons/delete', {
    deletePath: deletePlayerMatchPath,
  }) %>

  <%- include('../_buttons/cancel', { cancelPath }) %>
</div>
