<div class ="center">
<h1> Editar solicitudes de partido %></h1>
<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <%= playerMatch.id %> - <%= playerMatch.date %>

  <form action="<%= submitPlayerMatchPath %>" method="post">
    <div>
      <input type="hidden" name="_method" value="patch" />
    </div>
    <% if ( playerMatch.isPlayerInvited.status == "sentToUser" ||
            playerMatch.isPlayerInvited.status == "rejectedByUser" ||
            playerMatch.isPlayerInvited.status == "accepted"){ %>
      <div>
        <input type="radio" name="status" value="accepted"
        <%= (playerMatch.isPlayerInvited.status=="accepted") ? 'checked' : '' %>>
        Aceptar Invitación<br>

        <input type="radio" name="status" value="rejectedByUser"
        <%= (playerMatch.isPlayerInvited.status=="rejectedByUser") ? 'checked' : '' %>>
        Rechazar Invitación<br>

        <input type="radio" name="status" value="sentToUser"
        <%= (playerMatch.isPlayerInvited.status=="sentToUser") ? 'checked' : '' %>>
        No responder Aún<br>

      </div>
    <% } else if (playerMatch.isPlayerInvited.status == "sentByUser"){ %>
      <div>
        <p> Esperando respuesta </p>
      </div>
    <% } else { %>
      <div>
        <p> Solicitud rechazada </p>
      </div>
    <% } %>
      <div>
        <input type="submit" name="update" value="Guardar Cambios" />
      </div>
  </form>

</div>

<form action="<%= deletePlayerMatchPath %>" method="post">
  <div>
    <input type="hidden" name="_method" value="delete" />
  </div>
  <div>
    <input type="submit" name="delete" value="Eliminar" />
  </div>
</form>

<form action=<%= cancelPath %>>
  <input id="deletebutton" type="submit" value="Cancelar"/>
</form>
</div>
