<div id="body-container">
  <div class="jumbotron-center">
    <div class="box-container invitation-container">

      <h1> Editar invitación a partido </h1>

      <%- include('../_error/snippet', { errors: locals.errors }) %>

      <div>
        <%= match.name %> - <%= prettyTimestamp(match.date) %>

        <%- include('../_invitations/form', {
          invitation: match.isPlayerInvited,
          chooseStatuses,
          submitPath: submitPlayerMatchPath,
          hasAdminPermission: match.isPlayerInvited.isAdmin,
        }) %>

      </div>

      <%- include('../_buttons/delete', {
        deletePath: deletePlayerMatchPath,
      }) %>

      <%- include('../_buttons/cancel', { cancelPath }) %>
    </div>
  </div>
</div>
