<h1> Editar solicitudes de partido %></h1>
<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <%= playMatch.id %> - <%= playMatch.date %>
  
  <form action="<%= submitPlayerMatchPath %>" method="post">
    <div>
      <input type="hidden" name="_method" value="patch" />
    </div>
    <% if (playMatch.isPlayerInvited.status == "sentToUser" || playMatch.isPlayerInvited.status == "rejectedByUser"  || playMatch.isPlayerInvited.status == "accepted"){ %>
      <div>
        <input type="radio" name="status" value="accepted" <%= (playMatch.isPlayerInvited.status=="accepted") ? 'checked' : '' %>> Aceptar Invitación<br>
        <input type="radio" name="status" value="rejectedByUser" <%= (playMatch.isPlayerInvited.status=="rejectedByUser") ? 'checked' : '' %>> Rechazar Invitación<br>
        <input type="radio" name="status" value="sentToUser" <%= (playMatch.isPlayerInvited.status=="sentToUser") ? 'checked' : '' %>> No responder Aún<br>
      </div>
    <% } else if (playMatch.isPlayerInvited.status == "sentByUser"){ %>
      <div>
        <p> Esperando respuesta </p>
      </div>
    <% } else { %>
      <div>
        <p> Solicitud rechazada </p>
      </div>
    <% } %>
      <div>
        <input type="submit" name="update" value="Guardar Cambios" />
      </div>
  </form>

</div>

<form action="<%= deletePlayerMatchPath %>" method="post">
  <div>
    <input type="hidden" name="_method" value="delete" />
  </div>
  <div>
    <input type="submit" name="delete" value="Eliminar" />
  </div>
</form>

<form action=<%= cancelPath %>>
  <input type="submit" value="Cancelar"/>
</form>
