<div class ="center">

  <h1> Editar solicitudes de partido %></h1>

  <%- include('../_error/snippet', { errors: locals.errors }) %>

  <div>
    <%= invitedPlayer.firstName %> <%= invitedPlayer.lastName %>

    <%- include('../_invitations/form', {
      invitation: invitedPlayer.isPlayerInvited,
      chooseStatuses,
      submitPath: submitInvitedPlayerPath,
      hasAdminPermission: true, // If it is here, already has permissions
    }) %>

  </div>

  <%- include('../_buttons/delete', {
    deletePath: deleteInvitedPlayerPath,
    message: 'Eliminar invitacion',
  }) %>

  <%- include('../_buttons/cancel', { cancelPath }) %>
</div>
