<div id="body-container">
  <div class="jumbotron-center">
    <div class="box-container invitation-container">

      <h1> Editar invitación a jugador %></h1>

      <%- include('../_error/snippet', { errors: locals.errors }) %>

      <div>
        <%= invitedPlayer.getName() %>

        <%- include('../_invitations/form', {
          invitation: invitedPlayer.isPlayerInvited,
          chooseStatuses,
          submitPath: submitInvitedPlayerPath,
          hasAdminPermission: true, // If it is here, already has permissions
        }) %>

      </div>

      <%- include('../_buttons/delete', {
        deletePath: deleteInvitedPlayerPath,
        message: 'Eliminar invitacion',
      }) %>

      <%- include('../_buttons/cancel', { cancelPath }) %>
    </div>
  </div>
</div>
