<div class ="center">

  <h1> Editar solicitudes de partido %></h1>

  <%- include('../error-snippet', { errors: locals.errors }) %>

  <div>
    <%= invitedPlayer.firstName %> <%= invitedPlayer.lastName %>

    <%- include('../_invitations/form', {
      invitation: invitedPlayer.isPlayerInvited,
      chooseStatuses,
      submitPath: submitInvitedPlayerPath,
      hasAdminPermission: true, // If it is here, already has permissions
    }) %>

  </div>

  <form action="<%= deleteInvitedPlayerPath %>" method="post">
    <div>
      <input type="hidden" name="_method" value="delete" />
    </div>
    <div>
      <input class"deletebutton" type="submit" name="delete" value="Eliminar" />
    </div>
  </form>

  <form action="<%= cancelPath %>">
    <input type="submit" value="Cancelar"/>
  </form>
</div>
