<div class ="center">
  <h1> Editar Jugadores del equipo %></h1>

  <%- include('../error-snippet', { errors: locals.errors }) %>

  <div>
    <%= teamMember.name %>
    <form action="<%= submitTeamMemberPath %>" method="post">
      <div>
        <input type="hidden" name="_method" value="patch" />
      </div>
      <div>
        <label for="isCaptain"></label>
        <input type="checkbox" name="isCaptain" <%= (teamMember.isMember.isCaptain) ? 'checked' : '' %> /> Capitán
      </div>
      <div>
        <input type="submit" name="update" value="Guardar Cambios" />
      </div>
    </form>
  </div>

  <%- include('../_buttons/delete', { deletePath: deleteTeamMemberPath }) %>

  <form action=<%= cancelPath %>>
    <input type="submit" value="Cancelar"/>
  </form>
</div>
