<%# Provide:
  doneReviews,
  showReviewer
  %>

<div>
  <h4>Reviews hechas:</h4>
  <% if(doneReviews.length > 0) { %>
    <ul>
      <% doneReviews.forEach((review) => { %>
        <li>
          <% if (showReviewer) { %>
            <%= review.reviewer.getName() %>,
          <% } else { %>
            <%= review.reviewed.getName() %>,
          <% } %>

          <%= updatedAtTimestamp(review) %>:
          <br>
          <%= review.rating %>
          --
          <%= review.content %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    No hay reviews hechas
  <% } %>

</div>
