<%# Provide: doneReviews, showReviewer
  Optional: noReviewsMessage
  %>

<div>
  <% if(doneReviews.length > 0) { %>
    <ul>
      <% doneReviews.forEach((review) => { %>
        <li>
          <% if (showReviewer) { %>
            <%= review.reviewer.getName() %>,
          <% } else { %>
            <%= review.reviewed.getName() %>,
          <% } %>

          <%= updatedAtTimestamp(review) %>:
          <br>
          <%= review.rating %>
          --
          <%= review.content %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p><%= locals.noReviewsMessage || 'No hay reviews hechas' %></p>
  <% } %>

</div>
