<%# Provide:
  review (compoundReview), showPlayer
  %>

<div class="list-item">
  <a class="lilink" href="<%= showPlayer ? getPlayerPath(review.player) : getCompoundPath(review.compound) %>">
    <div>
      <strong>
        <span>
          <% if (showPlayer) { %>
            <%= review.player.getName() %>
          <% } else { %>
            <%= review.compound.name %>
          <% } %>
        </span>
      </strong>
      <span><%= review.rating %> de 5</span>
      <span><%= review.content %></span>
    </div>
  </a>
</div>
