<%# Provide:
  comments,
  isPublic,
  %>

<div>
  <h4>Comentarios <%= (isPublic) ? 'públicos' : 'privados' %>:</h4>
  <% if(comments.length > 0) { %>
    <ul>
      <% comments.forEach( (comment) => { %>
        <li>
          <%= comment.player.getName() %>, <%= comment.prettyTimestamp() %>:
          <br>
          <%= comment.content %>
          <% if (currentPlayer.id === comment.player.id) { %>
            <%- include('../_buttons/delete', { deletePath: deleteTeamCommentPath(comment) }) %>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    No hay comentarios
  <% } %>

</div>
