<div class="center">
  <h1><%= sport.name %></h1>
    <img class="large-logo" src="<%= sport.logo %>" height="500" width="500" >
  <p>Es un deporte <%= (sport.isIndividual) ? 'individual' : 'colectivo' %>.</p>

  <% if (hasModifyPermission) { %>
    <%- include('../_buttons/edit', { editPath: editSportPath }) %>

    <%- include('../_buttons/delete', { deletePath: deleteSportPath }) %>

  <% } %>

  <%- include('../_buttons/back', { backPath: sportsPath, message: 'Volver a todos los deportes' }) %>

</div>
