<h1><%= compound.name %></h1>

<div>
  <h4>Información personal</h4>
  <img src=<%= compound.photo %> > <br>

  <p> E-mail: <%= compound.localemail %> </p>

  <br>


  <p> Teléfono: <%= compound.localphone %> </p> <br>
  <p> Dirección: <%= compound.address %> </p> <br>
  <p>Dueño: <%= compoundOwner.email %> <form action="<%= compoundOwnerPath(compoundOwner) %>">
      <input type="submit" value="Ir perfil dueño" />
  </form> </br>

  <form action="<%= editCompoundPath %>">
      <input type="submit" value="Editar Información personal" />
  </form>
</div>



<br />

<form action="<%= compoundsPath %>">
    <input type="submit" value="Volver" />
</form>
