<div class ="center">


<h1><%= compound.name %></h1>

<div>
  <h4>Información personal</h4>
  <img src=<%= compound.photo %> > <br>

  <p> E-mail: <%= compound.localemail %> </p>

  <br>

  <p> Teléfono: <%= compound.localphone %> </p> <br>
  <p> Dirección: <%= compound.address %> </p> <br>
  <p> Dueño: <%= compoundOwner.email %>

    <form action="<%= getCompoundOwnerPath(compoundOwner) %>">
      <input type="submit" value="Ir perfil dueño" />
    </form>
  </br>
  <% if(fields.length > 0) { %>
    <h4> Canchas que dispone: </h4>
    <ul>
      <% fields.forEach((field) => { %>
        <% console.log(field) %>
        <li>
          <a href="<%= getFieldPath(field) %>">
            <%= field.name %>



        </li>
      <% }) %>
    </ul>
  <% } else { %>
    No contiene canchas.
  <% } %>

  <% if(hasModifyPermission) { %>

    <form action="<%= newFieldPath %>">
        <input type="submit" value="Crear Cancha" />
    </form>



    <% } %>

  <% if(hasModifyPermission) { %>
    <form action="<%= editCompoundPath %>">
        <input type="submit" value="Editar información del recinto" />
    </form>
  <% } %>

</div>

<br />

<form action="<%= compoundsPath %>">
    <input type="submit" value="Volver" />
</form>
</div>
