<div class="center">


  <h1><%= compound.name %></h1>

  <div>
    <h4>Información del recinto</h4>
    <img src="<%= compound.photo %>" >

    <p> E-mail: <%= compound.localEmail %> </p>
    <p> Teléfono: <%= compound.localPhone %> </p>
    <p> Dirección: <%= compound.address %> </p>
    <p> Dueño: <%= compoundOwner.email %>

    <% if(hasModifyPermission) { %>
      <%- include('../_buttons/edit', {
        editPath: editCompoundPath,
        message: 'Editar información del recinto',
      }) %>
    <% } %>

    <% if(fields.length > 0) { %>
      <h4> Canchas que dispone: </h4>
      <%- include('../fields/index-snippet', { fields, logoClassName: "medium-logo" }) %>
    <% } else { %>
      No contiene canchas.
    <% } %>

    <% if(hasModifyPermission) { %>
      <form action="<%= newFieldPath %>">
          <input type="submit" value="Crear Cancha" />
      </form>
    <% } %>

    <form action="<%= getCompoundOwnerPath(compoundOwner) %>">
      <input type="submit" value="Ir perfil dueño" />
    </form>

  </div>

  <%- include('../compoundReviews/index') %>

  <%- include('../_buttons/back', { backPath: compoundsPath }) %>

</div>
