<div class ="center">
  <h1> <%= (compoundOwner.isNewRecord) ? 'Nuevo Dueño de recinto' : 'Editar Dueño de recinto' %></h1>

  <div>
    <% if (locals.errors) { %>
      <div class="errors">
        Necesitas arreglar los siguiente errores:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitcompoundOwnerPath %>" method="post">
      <% if(!compoundOwner.isNewRecord) { %>
        <div>
          <input type="hidden" name="_method" value="patch" />
        </div>
      <% } %>

      <%- include('../users/_form', { user: compoundOwner }) %>

      <div>
        <label for="phone">Teléfono</label>
        <input type="text" name="phone" value="<%= compoundOwner.phone %>" />
      </div>
        <% if(compoundOwner.isNewRecord) { %>
          <input type="submit" name="create" value="Registrarse" />
        <% } else { %>
          <input class="editbutton" type="submit" name="update" value="Guardar Cambios" />
        <% } %>
      </div>
    </form>



  <% if(!compoundOwner.isNewRecord) { %>
    <form action="<%= deletecompoundOwnerPath %>" method="post">
      <div>
        <input type="hidden" name="_method" value="delete" />
      </div>
      <div>
        <input class="deletebutton" type="submit" name="delete" value="Eliminar Usuario" />
      </div>
    </form>
  <% } %>

  <form action="<%= cancelPath %>" method="get">
      <input type="submit" value="Cancelar"/>
  </form>

</div>
