<div class ="center">
  <h1> <%= (compoundOwner.isNewRecord) ? 'Nuevo Dueño de recinto' : 'Editar Dueño de recinto' %></h1>

  <%- include('../_error/snippet', { errors: locals.errors }) %>

  <div>
    <form action="<%= submitCompoundOwnerPath %>" method="post">
      <% if(!compoundOwner.isNewRecord) { %>
        <div>
          <input type="hidden" name="_method" value="patch" />
        </div>
      <% } %>

      <%- include('../_users/form', { user: compoundOwner }) %>

      <div>
        <label for="phone">Teléfono</label>
        <input type="text" name="phone" value="<%= compoundOwner.phone %>" />
      </div>
        <% if(compoundOwner.isNewRecord) { %>
          <input type="submit" name="create" value="Registrarse" />
        <% } else { %>
          <input class="edit-button" type="submit" name="update" value="Guardar Cambios" />
        <% } %>
      </div>
    </form>

  <% if(!compoundOwner.isNewRecord) { %>
    <%- include('../_buttons/delete', {
      deletePath: deleteCompoundOwnerPath,
      message: "Eliminar usuario",
    }) %>
  <% } %>

  <form action="<%= cancelPath %>" method="get">
      <input type="submit" value="Cancelar"/>
  </form>

</div>
