<div class ="center">
  <h1>Compound Owners en Jugamos</h1>

  <ul>
    <% compoundOwners.forEach((compoundOwner) => { %>

      <li>
          <a class="lilink" href=<%= getCompoundOwnerPath(compoundOwner) %>>
          <img class="large-logo" src=<%=compoundOwner.photo%>/>
          <div>
           <%= compoundOwner.firstName %> <%= compoundOwner.lastName %>
         </div>
         <div>
          <%= compoundOwner.email %>
          </div>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
