<div id="body-container">
  <div class="jumbotron">
    <div id="owner-profile-column-left" class="column-40">

      <div id="owner-profile-card" class="box-container">
        <img class="medium-logo" src="<%= compoundOwner.getPhoto() %>" height="500" width="500">
        <h3><%= compoundOwner.firstName %> <%= compoundOwner.lastName %></h3>
        <%= compoundOwner.email %>

        <p> Teléfono: <%= compoundOwner.phone %> </p>

        <% if(hasModifyPermission) { %>
          <%- include('../_buttons/edit', {
            editPath: editCompoundOwnerPath,
            message: 'Editar información personal',
          }) %>
        <% } %>

      </div>

    </div>

    <div id="owner-profile-column-right" class="column-60">
      <div id="owner-compounds" class="box-container">
        <h4>Recintos</h4>
        <% if(compounds.length > 0) { %>
          <ul>
            <% compounds.forEach((compound) => { %>
              <li>
                <a class="lilink" href=<%= getCompoundPath(compound) %>>
                  <img class="medium-logo" src="<%=compound.getPhoto()%>"/>
                  <%= compound.name %>
                  <%= compound.address %>
                </a>
              </li>
            <% }) %>
          </ul>
        <% } else { %>
          No tiene recintos
        <% } %>
      </div>


    </div>

  </div>
</div>
