<div class="center">

  <h1>Jugamos</h1>

  <p>
    Organiza encuentros deportivos con tus amigos!
  </p>

  <form class="indexbutton" action="<%= sportsPath %>" method="get">
      <input type="submit" value="Ver deportes"/>
  </form>

  <form class="indexbutton" action="<%= playersPath %>" method="get">
      <input type="submit" value="Ver jugadores"/>
  </form>

  <form class="indexbutton" action="<%= teamsPath %>" method="get">
      <input type="submit" value="Ver equipos"/>
  </form>

  <form class="indexbutton" action="<%= matchesPath %>" method="get">
      <input type="submit" value="Ver partidos"/>
  </form>

  <form class="indexbutton" action="<%= compoundOwnersPath %>" method="get">
      <input type="submit" value="Ver dueños de recinto"/>
  </form>

  <form class="indexbutton" action="<%= compoundsPath %>" method="get">
      <input type="submit" value="Ver recintos"/>
  </form>
</div>
<div id="react-app">Here a React app will be rendered</div>
