<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Jugamos? - IIC2513</title>


    <link rel="stylesheet" href="/assets/styles/layout.css">

    <% if (env !== 'development') { %>
       <link rel="stylesheet" href="/assets/styles.css">
     <% } %>

  </head>

  <body>
    <header>
      <div id="logo">
        <a href="<%= homePath %>">
          <img src="/assets/logo.png" alt="Logo" />
        </a>
      </div>

      <div id="user-bar">
        <% if (currentUser) { %>

          <% if (!isAdminLoggedIn) { %>
            <a id="profile-button" href="<%= profilePath %>">
              <div id="profile-picture">
                <img class="small-logo" src="<%= currentUser.photo %>"/>
              </div>
              <span id="profile-name">
                Hola <%= currentUser.firstName %>
              </span>
            </a>
          <% } %>

          <%- include('_buttons/delete', {
            deletePath: destroySessionPath,
            message: 'Salir',
            className: 'bar',
          }) %>

        <% } else { %>
          <span id="invited-name">
            Hola Invitado
          </span>

          <form class="bar" action="<%= newSessionPath %>" method="get">
            <input type="submit" value="Iniciar sesión" />
          </form>
          <form class="bar" action="<%= signUpPlayerPath %>" method="get">
            <input type="submit" value="Regístrate como jugador" />
          </form>
          <form class="bar" action="<%= signUpOwnerPath %>" method="get">
            <input type="submit" value="Regístrate como dueño de recintos deportivos" />
          </form>

        <% } %>
      </div>
    </header>
    <%- body %>
    <script src="/assets/app.js"></script>
    <script src="/assets/appReact.js"></script>
  </body>

</html>
