<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Jugamos? - IIC2513</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="/assets/styles.css">
    <% } %>
  </head>

  <body>
    <header>
      <div id="logo">
        <img src="/assets/logo.png" alt="Logo" />
      </div>
    </header>
    <form action="<%= homePath %>" method="get">
        <input type="submit" value="Home"/>
    </form>

    <div id="user-bar">
      <% if (currentUser) { %>
        <span class="name"> Hola <%= currentUser.firstName %></span>

        <% if (!hasAdminPermission) { %>
          <form action="<%= profilePath %>" method="get">
            <input type="submit" value="Mi Perfil" />
          </form>
        <% } %>

        <form action="<%= destroySessionPath %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Salir" />
        </form>

      <% } else { %>
        <span class="name">Hola Invitado</span>
        <br>
        <a href="<%= newSessionPath %>">Inicia Sesión</a>
        <br>
        <a href="<%= signUpPlayerPath %>">Regístrate como jugador</a>
        <br>
        <a href="<%= signUpOwnerPath %>">Regístrate como dueño de recintos deportivos</a>
      <% } %>
    </div>

    <%- body %>
    <script src="/assets/app.js"></script>
  </body>

</html>
