<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Jugamos? - IIC2513</title>
  </head>

  <body>
    <form action="<%= homePath %>" method="get">
        <input type="submit" value="Home"/>
    </form>

    <div id="user-bar">
      <% if (currentUser) { %>
        <span class="name"> Hola <%= currentUser.firstName %></span>
        <form action="<%= destroySessionPath %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Salir" />
        </form>
      <% } else { %>
        <span class="name">Hola Invitado</span>
        <br> 
        <a href="<%= newSessionPath %>">Inicia Sesión</a>
        <br>
        <a href="<%= signUpPlayerPath %>">Regístrate como jugador</a>
        <br>
        <a href="<%= signUpOwnerPath %>">Regístrate como dueño de recintos deportivos</a>
      <% } %>
    </div>

    <%- body %>
  </body>

</html>
