<div class="center">

  <h1> <%= (field.isNewRecord) ? 'Nueva Cancha' : 'Editar cancha' %></h1>

  <%- include('../_error/snippet', { errors: locals.errors }) %>

  <div>
    <form action="<%= submitFieldPath %>" method="post">
      <% if(!field.isNewRecord) { %>
        <div>
          <input type="hidden" name="_method" value="patch" />
        </div>
      <% } %>
      <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" value="<%= field.name %>" required/>
      </div>
      <div>
        <label for="photo">Foto</label>
        <input type="text" name="photo" value="<%= field.photo %>" />
      </div>
      <div>
        <label for="prices">Precios</label>
        <input type="text" name="prices" value="<%= field.prices %>" />
      </div>
      <div>
        <label for="schedule">Horario</label>
        <input type="text" name="schedule" value="<%= field.schedule %>" />
      </div>
      <div>
        <input type="hidden" name="compoundId" value="<%= compound.id %>" />
      </div>
      <div>
        <label for="sportId">Deporte</label>

        <% sports.forEach((sport) => { %>
          <input type="radio" name="sportId" value="<%= sport.id %>" required
          <%= (sport.id === field.sportId) ? 'checked' : '' %> >
          <%= sport.name %>

        <% }) %>
      </div>
      <div>
        <% if(field.isNewRecord) { %>
          <input type="submit" name="create" value="Crear" />
        <% } else { %>
          <input type="submit" name="update" value="Guardar Cambios" />
        <% } %>
      </div>
    </form>



  <% if(!field.isNewRecord) { %>
    <%- include('../_buttons/delete', { deletePath: deleteFieldPath }) %>
  <% } %>

  <%- include('../_buttons/cancel', { cancelPath }) %>
</div>
