<div class="center">

  <h1> <%= (field.isNewRecord) ? 'Nueva Cancha' : 'Editar cancha' %></h1>

  <%- include('../_error/snippet', { errors: locals.errors }) %>

  <div>
    <form action="<%= submitFieldPath %>" method="post" enctype="multipart/form-data">
      <% if(!field.isNewRecord) { %>
        <div>
          <input type="hidden" name="_method" value="patch" />
        </div>
      <% } %>
      <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" value="<%= field.name %>" required/>
      </div>
      <div>
        <label for="photo">Foto</label>
        <input type="file" name="photo" accept="image/*"/>
      </div>
      <% if(scheduleBases.length==0) {%>
        <div>
          <label for="openingHour">Hora de Entrada</label>
          <input type="text" name="openingHour" value="<%= field.openingHour %>" />
        </div>
        <div>
          <label for="schedule">Hora de Cierre</label>
          <input type="text" name="closingHour" value="<%= field.closingHour %>" />
        </div>
        <div>
          <label for="modules">Modulos</label>
          <input type="text" name="modules" value="<%= field.modules %>" />
        </div>
        <input type="hidden" name="compoundId" value="<%=compound.id %>" />
      <%}%>

      <div>
        <label for="sportId">Deporte</label>

        <% sports.forEach((sport) => { %>
          <input type="radio" name="sportId" value="<%= sport.id %>" required
          <%= (sport.id === field.sportId) ? 'checked' : '' %> >
          <%= sport.name %>

        <% }) %>
      </div>
      <div>
        <% if(field.isNewRecord) { %>
          <input type="submit" name="create" value="Crear" />
        <% } else { %>
          <input type="submit" name="update" value="Guardar Cambios" />
        <% } %>
      </div>
    </form>



  <% if(!field.isNewRecord) { %>
    <%- include('../_buttons/delete', { deletePath: deleteFieldPath }) %>
  <% } %>

  <%- include('../_buttons/cancel', { cancelPath }) %>
</div>
