<h1><%= field.name %></h1>

<div>
  <h4>Información de la cancha</h4>
  <img src=<%= compound.photo %> > <br>

  <p> prices: <%= compound.localemail %> </p>

  <br>


  <p> schedule: <%= compound.localphone %> </p> <br>
  <p> Dirección: <%= compound.address %> </p> <br>
  <p>Recinto: <%= compound.name %> <form action="<%= compoundPath(compound) %>">
      <input type="submit" value="Ir perfil recinto" />
  </form> </br>

  <form action="<%= editCompoundPath %>">
      <input type="submit" value="Editar Información personal" />
  </form>
</div>



<br />

<form action="<%= compoundsPath %>">
    <input type="submit" value="Volver" />
</form>
