<h1><%= field.name %></h1>

<div>
  <h4>Información de la cancha</h4>
  <img src=<%= compound.photo %> > <br>

  <p> Prices: <%= compound.localemail %> </p>

  <br>


  <p> Schedule: <%= compound.localphone %> </p> <br>
  <p> Dirección: <%= compound.address %> </p> <br>
  <p>Recinto: <%= compound.name %> <form action="<%= compoundPath(compound) %>">
      <input type="submit" value="Ir perfil recinto" />
  </form> </br>

<% if (hasModifyPermission) { %>
  <form action="<%= editFieldPath %>">
      <input type="submit" value="Editar de cancha" />
  </form>
  <%}%>
</div>



<br />
