<div class="center">

  <h1><%= field.name %></h1>

  <div>
    <p> <%= sportName %> </p>
    <img src=<%= field.photo %> >
    <p> Prices: <%= field.prices %> </p>
    <p> Schedule: <%= field.schedule %> </p>
    <p> Dirección: <%= compound.address %> </p>
    <p> Recinto: <%= compound.name %>

    <% if (hasModifyPermission) { %>
      <%- include('../_buttons/edit', {
        editPath: editFieldPath,
        message: 'Editar cancha',
      }) %>
      <%- include('../_buttons/delete', {
        deletePath: deleteFieldPath,
        message: 'Eliminar cancha',
      }) %>
    <%}%>

    <form action="<%= compoundPath(compound) %>">
      <input type="submit" value="Ir perfil recinto" />
    </form>

  </div>

</div>
