<div class ="center">

  <h1> Editar deporte que practico %></h1>

  <%- include('../error-snippet', { errors: locals.errors }) %>

  <div>
    <%= playSport.name %>
    <form action="<%= submitPlayerSportPath %>" method="post">
      <div>
        <input type="hidden" name="_method" value="patch" />
      </div>
      <div>
        <label for="position">Posición: </label>
        <input type="text" name="position" value="<%= playSport.plays.position %>"/>
      </div>

      <div>
        <input type="submit" name="update" value="Guardar Cambios" />
      </div>
    </form>
  </div>

  <%- include('../_buttons/delete', {
    deletePath: deletePlayerSportPath,
    message: 'Abandonar equipo',
  }) %>

  <form action=<%= cancelPath %>>
    <input type="submit" value="Cancelar"/>
  </form>
</div>
