<%# Must provide: deletePath
    optional: message, className, elementId, useImage %>

<form
  <% if(locals.className) { %>
    class="<%= className %>"
  <% } %>

  <% if(locals.elementId) { %>
    id="<%= elementId %>"
  <% } %>

  action="<%= deletePath %>" method="post">
    <div>
      <input type="hidden" name="_method" value="delete" />
    </div>
    <div>
      <% if (locals.useImage) { %>
        <input class="delete-button-icon" type="image" src="/assets/garbage.png" alt="<%= locals.message || 'Eliminar' %>" />
      <% } else { %>
        <input class="delete-button" type="submit" name="delete" value="<%= locals.message || 'Eliminar' %>" />
      <% } %>
    </div>
</form>
