<div class ="center">

  <h1> <%= (player.isNewRecord) ? 'Nuevo Jugador' : 'Editar Jugador' %></h1>
  <div>
    <% if (locals.errors) { %>
      <div class="errors">
        Necesitas arreglar los siguiente errores:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitPlayerPath %>" method="post">
      <% if(!player.isNewRecord) { %>
        <div>
          <input type="hidden" name="_method" value="patch" />
        </div>
      <% } %>

      <%- include('../users/_form', { user: player }) %>

      <div>
        <label for="birthday">Cumpleaños</label>
        <input type="date" name="birthday" value="<%= player.birthday %>" />
      </div>
      <label for="gender">Género</label>
      <% genders.forEach( (gender) => { %>
        <div>
          <input type="radio" name="gender" value="<%= gender %>"
          <%= (player.gender == gender) ? 'checked' : '' %>/>
          <%= gender %>
        </div>
      <% }) %>
      <div>
        <% if(player.isNewRecord) { %>
          <input type="submit" name="create" value="Registrarse" />
        <% } else { %>
          <input type="submit" name="update" value="Guardar Cambios" />
        <% } %>
      </div>
    </form>
  </div>


  <% if(!player.isNewRecord) { %>
    <form  action="<%= deletePlayerPath %>" method="post">
      <div>
        <input type="hidden" name="_method" value="delete" />
      </div>
      <div>
        <input class"deletebutton" type="submit" name="delete" value="Eliminar Usuario" />
      </div>
    </form>
  <% } %>

  <form action="<%= cancelPath %>" method="get">
      <input type="submit" value="Cancelar"/>
  </form>
</div>
