<div class ="center">

  <h1> <%= (player.isNewRecord) ? 'Nuevo Jugador' : 'Editar Jugador' %></h1>

  <%- include('../_error/snippet', { errors: locals.errors }) %>

  <div>
    <form action="<%= submitPlayerPath %>" method="post">
      <% if(!player.isNewRecord) { %>
        <div>
          <input type="hidden" name="_method" value="patch" />
        </div>
      <% } %>

      <%- include('../_users/form', { user: player }) %>

      <div>
        <label for="birthday">Cumpleaños</label>
        <input type="date" name="birthday" value="<%= player.birthday %>" />
      </div>
      <label for="gender">Género</label>
      <% genders.forEach( (gender) => { %>
        <div>
          <input type="radio" name="gender" value="<%= gender %>"
          <%= (player.gender == gender) ? 'checked' : '' %>/>
          <%= gender %>
        </div>
      <% }) %>
      <div>
        <% if(player.isNewRecord) { %>
          <input type="submit" name="create" value="Registrarse" />
        <% } else { %>
          <input type="submit" name="update" value="Guardar Cambios" />
        <% } %>
      </div>
    </form>
  </div>


  <% if(!player.isNewRecord) { %>
    <%- include('../_buttons/delete', {
      deletePath: deletePlayerPath,
      message: 'Eliminar usuario',
    }) %>
  <% } %>

  <form action="<%= cancelPath %>" method="get">
      <input type="submit" value="Cancelar"/>
  </form>
</div>
