<h1> <%= (player.isNewRecord) ? 'Nuevo Jugador' : 'Editar Jugador' %></h1>
<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitPlayerPath %>" method="post">
    <% if(!player.isNewRecord) { %>
      <div>
        <input type="hidden" name="_method" value="patch" />
      </div>
    <% } %>
    <div>
      <label for="email">E-Mail</label>
      <input type="text" name="email" value="<%= player.email %>" />
    </div>
    <div>
      <label for="password">password</label>
      <input type="text" name="password" value="<%= player.password %>" />
    </div>
    <div>
      <label for="name">Nombre</label>
      <input type="text" name="name" value="<%= player.name %>" />
    </div>
    <div>
      <label for="age">Cumpleaños</label>
      <input type="date" name="age" value="<%= player.age %>" />
    </div>
    <div>
      <label for="photo">Photo</label>
      <input type="text" name="photo" value="<%= player.photo %>" />
    </div>
    <label for="gender">Género</label>
    <% genders.forEach( (gender) => { %>
      <div>
        <input type="radio" name="gender" value="<%= gender %>"
        <%= (player.gender == gender) ? 'checked' : '' %>/>
        <%= gender %>
      </div>
    <% }) %>
    <div>
      <% if(player.isNewRecord) { %>
        <input type="submit" name="create" value="Registrarse" />
      <% } else { %>
        <input type="submit" name="update" value="Guardar Cambios" />
      <% } %>
    </div>
  </form>
</div>


<% if(!player.isNewRecord) { %>
  <form action="<%= deletePlayerPath %>" method="post">
    <div>
      <input type="hidden" name="_method" value="delete" />
    </div>
    <div>
      <input type="submit" name="delete" value="Eliminar Usuario" />
    </div>
  </form>
<% } %>

<form action="<%= cancelPath %>" method="get">
    <input type="submit" value="Cancelar"/>
</form>
