<h1>Equipos de Jugador</h1>
<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <div>
    <% if(Playerteams.length > 0) { %>
      <h4>Equipos al que pertenece:</h4>
      <ul>
        <% Playerteams.forEach((team) => { %>
          <li>
            <%= team.name %><form action="<%= deletePlayerteamPath %>" method="post">
              <input type="hidden" name="teamid" value= "<%= team.id %>"/>
              <input type="submit" name="deleteteam" value="delete"/>
            </form>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <%= player.name %> no pertenece a ningun equipo.
    <% } %>
  </div>
