<h1> Editar deportes que practico %></h1>
<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <form action="<%= submitPlayerSportsPath %>" method="post">
    <div>
      <input type="hidden" name="_method" value="patch" />
    </div>
    <div>
      <label for="playSports">Deportes que practica</label>
      <br>
      <% playSports.forEach((sport) => { %>
        <div>
          <input type="checkbox" name="playSports" value="<%= sport.id %>" checked > <%= sport.name %> </input>
          --
          <label for="playSportsPosition">Posicion:</label>
          <input type="text" name="playSportsPosition" value="<%= sport.plays.position %>" > </input>
        </div>
      <% }) %>

      <% sports.forEach((sport) => { %>
        <% if(!doesPlayerPlay(sport, playSports)) { %>
        <div>
          <input type="checkbox" name="playSports" value="<%= sport.id %>" > <%= sport.name %> </input>
          --
          <label for="playSportsPosition">Posicion:</label>
          <input type="text" name="playSportsPosition" value=""> </input>

        </div>
        <% } %>
      <% }) %>
    </div>

    <div>
      <input type="submit" name="update" value="Guardar Cambios" />
    </div>
  </form>
</div>


<form action=<%= cancelPath %>>
    <input type="submit" value="Cancelar"/>
</form>
