<div class="center">
<h1>Players en Jugamos</h1>

<ul>
  <% players.forEach((player) => { %>
    <li>
      <a class="lilink" href="<%= getPlayerPath(player) %>">
        <img class="large-logo" src="<%= player.photo %>"/>
        <div>
          <%= player.firstName %> <%= player.lastName %>
        </div>
        <div>
          <%= player.email %>
        </div>
      </a>
    </li>
  <% }) %>
</ul>
</div>
