<h1>Nuevo Jugador</h1>
<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= createPlayerPath %>" method="post">
    <div>
      <label for="title">E-Mail</label>
      <input type="text" name="email" value="<%= player.email %>" />
    </div>
    <div>
      <label for="password">password</label>
      <input type="text" name="password" value="<%= player.password %>" />
    </div>
    <div>
      <label for="Name">Nombre</label>
      <input type="text" name="name" value="<%= player.name %>" />
    </div>
    <div>
      <label for="age">Cumpleaños</label>
      <input type="date" name="age" value="<%= player.age %>" />
    </div>
    <div>
      <label for="photo">Photo</label>
      <input type="text" name="photo" value="<%= player.photo %>" />
    </div>
    <div>
      <label for="gender">Genero</label>
      <input type="text" name="gender" value="<%= player.gender %>" />
    </div>
    <div>
      <input type="submit" name="create" value="Registrarse" />
    </div>
  </form>
</div>


<form action=<%= playersPath %>>
    <input type="submit" value="Cancelar"/>
</form>
