<div class="center">

  <h1><%= player.firstName %> <%= player.lastName %></h1>

  <% if (canAddFriend) { %>
    <form action="<%= addFriendPath(player) %>" method="post">
      <input type="submit" value="Añadir Amigo" />
    </form>
  <% } else if(canDeleteFriend) { %>
    <%- include('../_buttons/delete', {
      deletePath: deleteFriendPath(player),
      message: 'Eliminar de mis amigos'
    }) %>
  <% } else if(canAcceptFriend) { %>
    <form action="<%= acceptFriendPath(player) %>" method="post">
      <div>
        <input type="hidden" name="_method" value="patch" />
      </div>
      <div>
        <input type="submit" value="Aceptar Amigo" />
      </div>
    </form>
  <% } else if(waitingFriend) { %>
    <p>
      Esperando confirmación
    </p>
  <% } %>

  <div>
    <h4>Información personal</h4>
    <img class="large-logo" src="<%= player.photo %>" >

    <p> E-mail: <%= player.email %> </p>

    <p> Cumpleaños: <%= player.birthday %> </p>

    <p> Edad: <%= player.age %> </p>

    <p> Género: <%= player.gender %> </p>

    <% if(hasModifyPermission) { %>
      <%- include('../_buttons/edit', {
        editPath: editPlayerPath,
        message: 'Editar información personal',
      }) %>
    <% } %>
  </div>

  <div>
    <% if(friends.length > 0) { %>
      <h4>Amigos:</h4>
      <ul>
        <% friends.forEach((friend) => { %>
          <li>
            <a class="lilink" href="<%= getPlayerPath(friend) %>">
              <div>
                <%= friend.getName() %>
              </div>

            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      No tiene amigos.
    <% } %>

  </div>

  <div>
    <% if(playerSports.length > 0) { %>
      <h4>Deportes que practica:</h4>
      <ul>
        <% playerSports.forEach((sport) => { %>
          <li>
            <a class="lilink" href="<%= getSportPath(sport) %>">
              <img class="small-logo" src="<%= sport.logo %>"/>
              <div>
                <%= sport.name %>
              </div>
              <div class="position">
                posición (es): <%= sport.plays.position %>
                <% if(hasModifyPermission) { %>
                  <%- include('../_buttons/edit', {
                    editPath: editPlayerSportPath(sport),
                    message: 'Editar deporte'
                  }) %>
                <% } %>
              </div>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      No practica ningún deporte.
    <% } %>

    <% if(hasModifyPermission) { %>
      <form action="<%= newPlayerSportPath %>">
          <input type="submit" value="Añadir deporte" />
      </form>
    <% } %>

  </div>

  <div>
    <% if(playerTeams.length > 0) { %>
      <h4> Equipos a los que pertenece: </h4>
      <ul>
        <% playerTeams.forEach((team) => { %>

          <li>
            <a class="lilink" href="<%= getTeamPath(team) %>">
              <img class="small-logo" src="<%= team.logo %>"/>
              <div>
                <%= team.name %> <%= (team.isMember.isCaptain) ? '-- Capitán del equipo' : '' %>
              </div>
              <% if(hasModifyPermission) { %>
                <%- include('../_buttons/delete', {
                  deletePath: deletePlayerTeamPath(team),
                  message: 'Abandonar equipo',
                }) %>
              <% } %>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      No pertenece a ningún equipo.
    <% } %>

    <% if(playerMatches.length > 0) { %>
      <h4> Partidos: </h4>
      <ul>
        <% playerMatches.forEach((match) => { %>
          <li>
              <a class="lilink" href="<%= getMatchPath(match) %>">
                <div>
                  <%= match.name %>
                </div>
                <div>
                  <%= match.date %>
                </div>
                <div>
                  <%= (match.isPlayerInvited.isAdmin) ? 'Usted es Admin del partido' : '' %>
                </div>

                <% if(hasModifyPermission) { %>
                  <%- include('../_buttons/edit', { editPath: editPlayerMatchPath(match) }) %>
                <% } %>
            </a>
        </li>
        <% }) %>
      </ul>
    <% } else { %>
      No pertenece a ningún partido.
    <% } %>


    <% if(hasModifyPermission) { %>
      <form action="<%= newPlayerMatchPath %>">
          <input type="submit" value="Añadir Partido" />
      </form>
    <% } %>

  </div>

  <% if (canSeeComments) { %>
    <%- include('../comments/index', { comments: wallComments }) %>
  <% } %>
  <%- include('../comments/new') %>

  <%- include('../playerReviews/index', { reviews }) %>

  <%- include('../_buttons/back', { backPath: playersPath }) %>

</div>
