<h1><%= player.name %></h1>
<img src=<%= player.photo %>><br>

<a>E-mail: <%= player.email %></a><br>

<a>birthday: <%= player.age %> </a><br>

Deportes que practica:
<ul>
  <% playSports.forEach((sport) => { %>
    <li>
      <%= sport.name %>
    </li>
  <% }) %>
</ul>
<form action=<%= editPlayerPath %>>
    <input type="submit" value="Edit" />
</form>

<form action=<%= playersPath %>>
    <input type="submit" value="Volver" />
</form>
