<h1><%= player.name %></h1>

<div>
  <h4>Información personal</h4>
  <img src=<%= player.photo %> > <br>

  <a>E-mail: <%= player.email %></a><br>

  <a>birthday: <%= player.age %> </a><br>
  <form action=<%= editPlayerPath %>>
      <input type="submit" value="Editar Información personal" />
  </form>
</div>

<br />

<div>
  <% if(playSports.length > 0) { %>
    <h4>Deportes que practica:</h4>
    <ul>
      <% playSports.forEach((sport) => { %>
        <li>
          <%= sport.name %> -- Posición (es): <%= sport.plays.position %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <%= player.name %> no practica ningún deporte actualmente.
  <% } %>
  <form action=<%= editPlayerSportsPath %>>
      <input type="submit" value="Editar Deportes que practica" />
  </form>

</div>

<br />

<form action=<%= playersPath %>>
    <input type="submit" value="Volver" />
</form>
