<h1><%= player.name %></h1>

<div>
  <h4>Información personal</h4>
  <img src=<%= player.photo %> > <br>

  <p> E-mail: <%= player.email %> </p>

  <br>

  <p> Cumpleaños: <%= player.birthday %> </p>

  <br>

  <p> Edad: <%= playerAge %> </p>

  <form action="<%= editPlayerPath %>">
      <input type="submit" value="Editar Información personal" />
  </form>
</div>

<br />

<div>
  <% if(playerSports.length > 0) { %>
    <h4>Deportes que practica:</h4>
    <ul>
      <% playerSports.forEach((sport) => { %>
        <li>
          <%= sport.name %> -- Posición (es): <%= sport.plays.position %>
          <form action="<%= editPlayerSportPath(sport) %>">
              <input type="submit" value="Editar deporte" />
          </form>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    No practica ningún deporte.
  <% } %>
  <form action="<%= newPlayerSportPath %>">
      <input type="submit" value="Añadir deporte" />
  </form>

</div>

<br />

<div>
  <% if(playerTeams.length > 0) { %>
    <h4> Equipos a los que pertenece: </h4>
    <ul>
      <% playerTeams.forEach((team) => { %>
        <li>
          <%= team.name %> <%= (team.isMember.isCaptain) ? '-- Capitán del equipo' : '' %>
          <form action="<%= editPlayerTeamPath(team) %>">
              <input type="submit" value="Editar" />
          </form>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    No pertenece a ningún equipo.
  <% } %>
  <form action="<%= newPlayerTeamPath %>">
      <input type="submit" value="Añadir Equipo" />
  </form>

</div>

<br />

<form action="<%= playersPath %>">
    <input type="submit" value="Volver" />
</form>
