<div class ="center">

  <h1><%= player.firstName %> <%= player.lastName %></h1>

  <div>
    <h4>Información personal</h4>
    <img src=<%= player.photo %> >

    <p> E-mail: <%= player.email %> </p>

    <p> Cumpleaños: <%= player.birthday %> </p>

    <p> Edad: <%= playerAge %> </p>

    <p> Género: <%= player.gender %> </p>

    <% if(hasModifyPermission) { %>
      <%- include('../_buttons/edit', {
        editPath: editPlayerPath,
        message: 'Editar información personal',
      }) %>
    <% } %>
  </div>

  <div>
    <% if(playerSports.length > 0) { %>
      <h4>Deportes que practica:</h4>
      <ul>
        <% playerSports.forEach((sport) => { %>
          <li>
                <a class="lilink" href="<%= getSportPath(sport) %>">
                <img src=<%=sport.logo%> width="32" height="32"/>
                <div>
                <%= sport.name %>
               </div>
               <div class="position">
              posición (es): <%= sport.plays.position %>

            <% if(hasModifyPermission) { %>
              <%- include('../_buttons/edit', {
                editPath: editPlayerSportPath(sport),
                message: 'Editar deporte'
              }) %>
            <% } %>
          </a>
          </div>
        </li>

        <% }) %>
      </ul>
    <% } else { %>
      No practica ningún deporte.
    <% } %>

    <% if(hasModifyPermission) { %>
      <form action="<%= newPlayerSportPath %>">
          <input type="submit" value="Añadir deporte" />
      </form>
    <% } %>

  </div>

  <div>
    <% if(playerTeams.length > 0) { %>
      <h4> Equipos a los que pertenece: </h4>
      <ul>
        <% playerTeams.forEach((team) => { %>

          <li>

                <a class="lilink" href="<%= getTeamPath(team) %>">
                <img src=<%=team.logo%> width="32" height="32"/>
                <div>
                <%= team.name %> <%= (team.isMember.isCaptain) ? '-- Capitán del equipo' : '' %>
               </div>


              <% if(hasModifyPermission) { %>
                <%- include('../_buttons/delete', {
                  deletePath: deletePlayerTeamPath(team),
                  message: 'Abandonar equipo',
                }) %>
              <% } %>
            </a>
        </li>
        <% }) %>
      </ul>
    <% } else { %>
      No pertenece a ningún equipo.
    <% } %>

    <% if(hasModifyPermission) { %>
      <form action="<%= newPlayerTeamPath %>">
          <input type="submit" value="Añadir Equipo" />
      </form>
    <% } %>

    <% if(playerMatches.length > 0) { %>
      <h4> Partidos: </h4>
      <ul>
        <% playerMatches.forEach((match) => { %>
          <li>
              <a class="lilink" href="<%= getMatchPath(match) %>">
                <img src=<%=match.photo%> width="32" height="32"/>
                <div>
                  <%= match.name %>
                </div>
                <div>
                  <%= match.date %>
                </div>
                <div>
                  <%= (match.isPlayerInvited.isAdmin) ? 'Usted es Admin del partido' : '' %>
                </div>

                <% if(hasModifyPermission) { %>
                  <%- include('../_buttons/edit', { editPath: editPlayerMatchPath(match) }) %>
                <% } %>
            </a>
        </li>
        <% }) %>
      </ul>
    <% } else { %>
      No pertenece a ningún partido.
    <% } %>


    <% if(hasModifyPermission) { %>
      <form action="<%= newPlayerMatchPath %>">
          <input type="submit" value="Añadir Partido" />
      </form>
    <% } %>

  </div>

  <%- include('../_buttons/back', { backPath: playersPath }) %>

</div>
