<div class="center">
  <h1> Editar invitación a partido %></h1>

  <%- include('../error-snippet', { errors: locals.errors }) %>

  <div>
    <%= teamMatch.name %>

    <%- include('../_invitations/form', {
      invitation: teamMatch.isTeamInvited,
      chooseStatuses,
      submitPath: submitTeamMatchPath,
      hasAdminPermission: false, // REVIEW: the invitedTeams do not require this
    }) %>

  <form action="<%= deleteTeamMatchPath %>" method="post">
    <div>
      <input type="hidden" name="_method" value="delete" />
    </div>
    <div>
      <input class"deletebutton" type="submit" name="delete" value="Eliminar" />
    </div>
  </form>

  <form action="<%= cancelPath %>">
    <input type="submit" value="Cancelar"/>
  </form>
</div>
