<div class="schedule">

  <h1> <%= (scheduleBase.isNewRecord) ? 'Nuevo Horario Base' : 'Editar Horario Base' %></h1>
  <%- include('../_error/snippet', { errors: locals.errors }) %>



  <div class="box-container"
    id="schedule-bases-react-app"
    data-field-id="<%= field.id %>"
    data-compound-id="<%= compound.id %>"
    data-submit="<%=submitScheduleBasePath %>"
    >
  </div>




  <% if(!scheduleBase.isNewRecord) { %>
    <form action="<%= deleteScheduleBasePath %>" method="post">
      <div>
        <input type="hidden" name="_method" value="delete" />
      </div>
      <div>
        <input class"deletebutton" type="submit" name="delete" value="Eliminar" />
      </div>
    </form>
  <% } %>

  <form action="<%= cancelPath %>" method="get">
      <input type="submit" value="Cancelar"/>
  </form>
</div>
