<h1>Fuiste invitado a un equipo! </h1>

<p>
  <a href="<%= playerLink %>"><%= invitedBy %></a>
  te ha invitado a su equipo:
  <a href="<%= teamLink %>"><strong><%= teamName %></strong></a>
</p>

<%- include('_footer') %>
