<h1>Tu equipo fue invitado a un <%= eventType %>! </h1>

<p>
  <%= invitedBy %> ha invitado a tu equipo
  <em>
    <%= teamName %>
  </em>
  a <%= eventType %>:
  <strong>
    <%= eventName %>
  </strong>
</p>

<%- include('_footer') %>
