<h1>Fuiste invitado a un partido! </h1>

<p>
  <a href="<%= playerLink %>"><%= invitedBy %></a>
  te ha invitado a su partido:
  <a href="<%= matchLink %>"><strong><%= matchName %></strong></a>.
  <%= matchDate %>
</p>

<%- include('_footer') %>
