<h1>Tu equipo fue invitado a un partido! </h1>

<p>
  <a href="<%= playerLink %>"><%= invitedBy %></a>
  ha invitado a tu equipo
  <a href="<%= teamLink %>"><em><%= teamName %></em></a>
  al partido:
  <a href="<%= matchLink %>"><strong><%= matchName %></strong></a>
  ,
  <%= matchDate %>
</p>

<%- include('_footer') %>
