<h1>Nueva reserva</h1>

<p>
  <a href="<%= playerLink %>"><em><%= playerName %></em></a>
  quiere reservar tu cancha
  <a href="<%= fieldLink %>"><strong><%= fieldName %></strong></a>
  , de
  <a href="<%= compoundLink %>"><strong><%= compoundName %></strong></a>
</p>

<%- include('_footer') %>
