<div class ="center">
  <h1> Editar invitación a equipo %></h1>

  <%- include('../error-snippet', { errors: locals.errors }) %>

  <div>
    <%= team.name %>

    <%- include('../_invitations/form', {
      invitation: team.isTeamInvited,
      chooseStatuses,
      submitPath: submitInvitedTeamPath,
      hasAdminPermission: false, // REVIEW: the invitedTeams do not require this
    }) %>

  </div>

  <%- include('../_buttons/delete', {
    deletePath: deleteInvitedTeamPath,
    message: 'Eliminar invitación',
  }) %>

  <form action=<%= cancelPath %>>
    <input type="submit" value="Cancelar"/>
  </form>

</div>
