<div id="body-container">
  <div class="jumbotron">

    <div id="home-column-left" class="column-30">

      <div id="notifications-react-app"
        class="box-container"
        data-user-id="<%= currentUser.id %>"
        >
      </div>

      <div id="home-reviews" class="box-container">
        <p>
          <% if(reviewsAverage === 0) { %>
            No has recibido reviews
          <% } else { %>
            Tienes un promedio de reviews <%= reviewsAverage %>
          <% } %>
        </p>
      </div>

      <div id="home-teams" class="box-container">
        <h4> Mis equipos </h4>
        <%- include('../teams/_index-small.html.ejs', {
          teams: myTeams,
          hasModifyPermission: true,
          noTeamMessage: 'No tienes equipos'
        }) %>

        <form action="<%= newTeamPath %>">
          <input type="submit" value="Crear Equipo"/>
        </form>
      </div>

    </div>

    <div id="home-column-right" class="column-70">

      <div id="home-matches" class="box-container">
        <div id="home-matches-sup-bar">
          <h3>Partidos</h3>

          <a href="<%= newMatchPath %>">
            <img class="small-button" src="/assets/plus_green.png" alt="Crear partido" title="Crear partido"/>
          </a>
        </div>

        <div id="home-matches-confirmed-container">
          <%- include('../matches/_index', {
            title: 'Confirmados',
            matches: myConfirmedMatches,
            isPlayerMatch: true,
            hasModifyPermission: true,
            editInvitationPath: editPlayerMatchPath
          }) %>
        </div>

        <div id="home-matches-invite-container">
          <%- include('../matches/_index', {
            title: 'Por confirmar',
            matches: myInviteMatches,
            isPlayerMatch: true,
            hasModifyPermission: true,
            editInvitationPath: editPlayerMatchPath
          }) %>
        </div>

        <div id="home-matches-past-container">
          <%- include('../matches/_index', {
            title: 'Pasados',
            matches: myPastMatches,
            isPlayerMatch: true,
            hasModifyPermission: true,
            editInvitationPath: editPlayerMatchPath
          }) %>
        </div>

      </div>

    </div>

  </div>
</div>
