<div id="body-container">
  <div class="jumbotron">

    <div id="home-column-left">

      <div id="notifications-react-app"
        class="box-container"
        data-user-id="<%= currentUser.id %>"
        >
      </div>

      <div id="home-reviews-container" class="box-container">
        <p>
          <% if(reviewsAverage === 0) { %>
            No has recibido reviews
          <% } else { %>
            Tienes un promedio de reviews <%= reviewsAverage %>
          <% } %>
        </p>
      </div>

      <div id="home-teams-container" class="box-container">
        <h4> Mis equipos </h4>
        <% if(myTeams.length > 0) { %>
          <ul>
            <% myTeams.forEach((team) => { %>
              <li>
                <a class="lilink" href="<%= getTeamPath(team) %>">
                  <img class="small-logo" src="<%= team.logo %>"/>
                  <div>
                    <%= team.name %> <%= (team.isMember.isCaptain) ? '-- Capitán' : '' %>
                  </div>
                  <%- include('../_buttons/delete', {
                    deletePath: deletePlayerTeamPath(team),
                    message: 'Abandonar equipo',
                  }) %>
                </a>
              </li>
            <% }) %>
          </ul>
        <% } else { %>
          No tienes equipo.
        <% } %>

        <form action="<%= newTeamPath %>">
          <input type="submit" value="Crear Equipo"/>
        </form>
      </div>

    </div>

    <div id="home-column-right">

      <div id="home-matches-container" class="box-container">
        <div id="home-matches-sup-bar">
          <h3 id="home-matches-title">Partidos</h3>

          <a id="home-matches-new" href="<%= newMatchPath %>">
            <img class="small-button" src="/assets/plus_green.png" alt="Crear partido" title="Crear partido"/>
          </a>
        </div>

        <div id="home-matches-confirmed-container">
          <%- include('../matches/_index-snippet', { title: 'Confirmados', matches: myConfirmedMatches }) %>
        </div>

        <div id="home-matches-invite-container">
          <%- include('../matches/_index-snippet', { title: 'Por confirmar', matches: myInviteMatches }) %>
        </div>

        <div id="home-matches-past-container">
          <%- include('../matches/_index-snippet', { title: 'Pasados', matches: myPastMatches }) %>
        </div>

      </div>

    </div>

  </div>
</div>
