<div id="body-container">
  <div class="jumbotron-center">
    <div class="box-container">
      <h2> Iniciar sesión </h2>
      <div>
        <% if (locals.notice) { %>
          <div className="notice"><%= notice %></div>
        <% } %>

        <%- include('../_error/snippet-one', { error: locals.error }) %>

        <form action="<%= createSessionPath %>" method="post">
          <div>
            <input type="hidden" name="_method" value="put" />
          </div>
          <div>
            <label for="email">E-Mail</label>
            <input type="text" name="email" value="<%= email %>"/>
          </div>
          <div>
            <label for="password">password</label>
            <input type="password" name="password" />
          </div>
          <div>
            <input type="submit" name="create" value="Iniciar sesión" />
          </div>
        </form>
      </div>

      <%- include('../_buttons/cancel') %>
    </div>
  </div>
</div>
