<div class ="center">
  <h1><%= team.isNewRecord ? 'Nuevo equipo' : 'Editar equipo' %></h1>

  <%- include('../error-snippet', { errors: locals.errors }) %>
  
  <div>
    <form action="<%= submitTeamPath %>" method="post">
      <% if(!team.isNewRecord) { %>
        <div>
          <input type="hidden" name="_method" value="patch" />
        </div>
      <% } %>
      <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" value="<%= team.name %>" />
      </div>
      <div>
        <label for="logo">Logo</label>
        <input type="text" name="logo" value="<%= team.logo %>"></input>
      </div>
      <div>
        <label for="sportId">Deporte</label>

        <% sports.forEach((sport) => { %>
          <input type="radio" name="sportId" value="<%= sport.id %>" <%= (sport.id === team.sportId) ? 'checked' : '' %> > <%= sport.name %>
        <% }) %>
      </div>
      <div>
        <% if(team.isNewRecord) { %>
          <input type="submit" name="create" value="Crear" />
        <% } else { %>
          <input type="submit" name="update" value="Guardar" />
        <% } %>
      </div>
    </form>
  </div>

  <form action="<%= cancelPath %>" method="get">
      <input type="submit" value="Cancelar"/>
  </form>
</div>
