<%# Use to display a small list of teams

  Must exist: teams (withSport), hasModifyPermission (to leave teams), deletePlayerTeamPath (if hasModifyPermission is true)

  Optional: noTeamMessage %>

<% if (teams.length > 0) { %>
  <ul>
    <% teams.forEach((team) => { %>
      <li>
        <a class="lilink" href="<%= getTeamPath(team) %>">
          <img class="small-logo" src="<%= team.logo %>"/>
          <div>
            <%= team.name %> <%= (team.isMember.isCaptain) ? '-- Capitán' : '' %>
          </div>
          <div>
            <%= team.sport.name %>
          </div>

          <% if (hasModifyPermission) { %>
            <%- include('../_buttons/delete', {
              deletePath: deletePlayerTeamPath(team),
              message: 'Abandonar equipo',
            }) %>
          <% } %>
        </a>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>
    <%= locals.noTeamMessage || 'No hay equipos' %>
  </p>
<% } %>
