<div class="center">

  <h1>Equipos</h1>

  <% if (hasCreatePermission) { %>
    <form action="<%= newTeamPath %>">
      <input type="submit" value="Crear Equipo"/>
    </form>
  <% } %>


  <ul>
    <% teams.forEach((team) => { %>
      <li>
        <a class="lilink sport" href="<%= getTeamPath(team) %>"%>>
          <img class="medium-logo" src="<%= team.logo %>"/>
          <div>
            <%= team.name %>
          </div>
          <div class="index-sport-name">
            <%= team.sport.name %>
          </div>
        </a>
      </li>
    <% }) %>
  </ul>


</div>
