<h1>Jugadores de Equipo</h1>
<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <div>
    <% if(TeamPlayers.length > 0) { %>
      <h4>Equipos al que pertenece:</h4>
      <ul>
        <% Playerteams.forEach((team) => { %>
          <li>
            <%= team.name %><form action="<%= deleteTeamPlayerPath %>" method="post>
              <input type="hidden" name="playerid" value= "<%= player.id %>"/>
              <input type="submit" name="deleteteam" value="delete"/>
            </form>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <%= team.name %> no tiene jugadores.
    <% } %>
  </div>

  <form action="<%= PlayeraddTeamPath %>" method="post">
    <div>
      <select name="selectedteamid">
        <% players.forEach((player) => { %>
        <option name="playerid" value="<%= player.id %>"><%= player.name %></option>
          <% }) %>
      </select>
      <input type="submit" name="add" value="Agregar Jugador" />
    </div>
  </form>
