<h1><%= team.name %></h1>
<p>
  Logo: <%= team.logo %>
  <br>
  Deporte: <%= sport %>
</p>

<form action=<%= editTeamPath %>>
    <input type="submit" value="Editar"/>
</form>

<form action="<%= deleteTeamPath %>" method="post">
  <div>
    <input type="hidden" name="_method" value="delete" />
  </div>
  <div>
    <input type="submit" name="delete" value="Eliminar" />
  </div>
</form>

<div>
  <% if(TeamPlayers.length > 0) { %>
    <h4>Equipos al que pertenece:</h4>
    <ul>
      <% TeamPlayers.forEach((player) => { %>
        <li>
          <%= player.name %> <form action="/players/<%= player.id %>">
            <input type="submit" value="Go to"/>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <%= team.name %> no contiene jugadores.
  <% } %>
</div>

<br>

<form action=<%= teamsPath %>>
    <input type="submit" value="Volver a todos los equipos"/>
</form>
