<h1><%= team.name %></h1>
<p>
  Logo: <%= team.logo %>
  <br>
  Deporte: <%= sport %>
</p>

<form action=<%= editTeamPath %>>
    <input type="submit" value="Editar"/>
</form>

<form action="<%= deleteTeamPath %>" method="post">
  <div>
    <input type="hidden" name="_method" value="delete" />
  </div>
  <div>
    <input type="submit" name="delete" value="Eliminar" />
  </div>
</form>

<div>
  <% if(memberOfTeams.length > 0) { %>
    <h4>Jugadores:</h4>
    <ul>
      <% memberOfTeams.forEach((player) => { %>
        <li>
          <%= player.name %>
          <form action=<%= editTeamPlayerPath(player) %>>
              <input type="submit" value="Editar" />
          </form>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <%= team.name %> no tiene jugadores.
  <% } %>
  <form action=<%= newTeamPlayerPath %>>
      <input type="submit" value="Añadir Jugador" />
  </form>
</div>

<br>

<form action=<%= teamsPath %>>
    <input type="submit" value="Volver a todos los equipos"/>
</form>
