<div class ="center">

  <h1><%= team.name %></h1>
  <p>
    Logo: <%= team.logo %>

    Deporte: <%= sport %>
  </p>

  <% if (hasModifyPermission) { %>
    <form action=<%= editTeamPath %>>
        <input type="submit" value="Editar"/>
    </form>

    <form action="<%= deleteTeamPath %>" method="post">
      <div>
        <input type="hidden" name="_method" value="delete" />
      </div>
      <div>
        <input type="submit" name="delete" value="Eliminar" />
      </div>
    </form>
  <% } %>

  <div>
    <% if(teamMembers.length > 0) { %>
      <h4>Jugadores:</h4>
      <ul>
        <% teamMembers.forEach( (teamMember) => { %>
          <li>
              <a class="lilink" href="<%= getPlayerPath(teamMember) %>"%>>
              <img src=<%=teamMember.photo%> widt"h="32" height="32"/>
              <div id="margincustom">
               <%= teamMember.firstName %> <%= (teamMember.isMember.isCaptain ? '-- capitán del equipo' : '' )%>
             </div>
             <% if (hasModifyPermission) { %>
               <form action=<%= editTeamMemberPath(teamMember) %>>
                   <input type="submit" value="Editar" />
               </form>
             <% } %>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <%= team.name %> no tiene jugadores.
    <% } %>

    <% if (hasModifyPermission) { %>
      <form action=<%= newTeamMemberPath %>>
          <input type="submit" value="Añadir Jugador" />
      </form>
    <% } %>

  </div>



  <div>
    <% if(teamMatches.length > 0) { %>
      <h4>Partidos:</h4>
      <ul>
        <% teamMatches.forEach( (match) => { %>

          <li>
              <a class="lilink" href="<%= getMatchPath(match) %>">%>
              <img src=<%=match.photo%> widt"h="32" height="32"/>
              <div id="margincustom">
               <%= match.name %>
             </div>
             <% if (hasModifyPermission) { %>
               <form action=<%= editTeamMatchPath(match) %>>
                   <input type="submit" value="Editar" />
               </form>
             <% } %>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <%= team.name %> no tiene partidos.
    <% } %>

    <% if (hasModifyPermission) { %>
      <form action=<%= newTeamMatchPath %>>
          <input type="submit" value="Añadir partidos" />
      </form>
    <% } %>

  </div>



  <form action=<%= teamsPath %>>
      <input type="submit" value="Volver a todos los equipos"/>
  </form>
</div>
