<div class="center">

  <h1><%= team.name %></h1>
  <p>
    Logo: <%= team.logo %>

    Deporte: <%= sport %>
  </p>

  <% if (hasModifyPermission) { %>
    <%- include('../_buttons/edit', { editPath: editTeamPath }) %>

    <%- include('../_buttons/delete', { deletePath: deleteTeamPath }) %>
  <% } %>

  <div>
    <% if(teamMembers.length > 0) { %>
      <h4>Jugadores:</h4>
      <ul>
        <% teamMembers.forEach( (teamMember) => { %>
          <li>
              <a class="lilink" href="<%= getPlayerPath(teamMember) %>"%>>
              <img class="small-logo" src="<%=teamMember.photo%>"/>
              <div id="margincustom">
               <%= teamMember.firstName %> <%= (teamMember.isMember.isCaptain ? '-- capit치n del equipo' : '' )%>
             </div>
             <% if (hasModifyPermission) { %>
               <%- include('../_buttons/edit', {
                 editPath: editTeamMemberPath(teamMember),
                 message: 'Editar informaci칩n personal',
               }) %>
             <% } %>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <%= team.name %> no tiene jugadores.
    <% } %>

    <% if (hasModifyPermission) { %>
      <form action="<%= newTeamMemberPath %>">
          <input type="submit" value="A침adir Jugador" />
      </form>
    <% } %>

  </div>



  <div>
    <% if(teamMatches.length > 0) { %>
      <h4>Partidos:</h4>
      <ul>
        <% teamMatches.forEach( (match) => { %>

          <li>
              <a class="lilink" href="<%= getMatchPath(match) %>">%>
                <div id="margincustom">
                  <%= match.name %>
                </div>
                <% if (hasModifyPermission) { %>
                 <%- include('../_buttons/edit', { editPath: editTeamMatchPath(match) }) %>
               <% } %>
             </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <%= team.name %> no tiene partidos.
    <% } %>

    <% if (hasModifyPermission) { %>
      <form action="<%= newTeamMatchPath %>">
          <input type="submit" value="A침adir partidos" />
      </form>
    <% } %>

  </div>

  <%- include('../_buttons/back', { backPath: teamsPath, message: 'Volver a todos los equipos' }) %>

</div>
