<%# DEPRECATED: THIS VIEW IS NOT USED %>

<div id="body-container">
  <div class="jumbotron-center">
    <div class="box-container edit-invitation-container">

      <h1> Editar equipo al que pertenezco %></h1>

      <%- include('../_error/snippet', { errors: locals.errors }) %>

      <div>
        <%= playerTeam.name %>
        <form action="<%= submitPlayerTeamPath %>" method="post">
          <div>
            <input type="hidden" name="_method" value="patch" />
          </div>
          <div>
            <label for="isCaptain"></label>
            <input type="checkbox" name="isCaptain" <%= (playerTeam.isMember.isCaptain) ? 'checked' : '' %> /> Capitán
          </div>
          <div>
            <input type="submit" name="update" value="Guardar Cambios" />
          </div>
        </form>
      </div>

      <%- include('../_buttons/delete', { deletePath: deletePlayerTeamPath }) %>

      <%- include('../_buttons/cancel') %>
    </div>
  </div>
</div>
