<h1> Editar solicitudes de partido %></h1>
<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <%= playMatch.firstName %> <%= playMatch.lastName %> 
  <form action="<%= submitMatchPlayerPath %>" method="post">
    <div>
      <input type="hidden" name="_method" value="patch" />
    </div>
    <%if (playMatch.isInvited.status == "sentByUser" || playMatch.isInvited.status == "userRejected" || playMatch.isInvited.status == "accepted"){ %>
    <div>
      <input type="radio" name="status" value="accepted" <%= (playMatch.isInvited.status=="accepted") ? 'checked' : '' %>> Aceptar Invitación<br>
      <input type="radio" name="status" value="rejectedByUser" <%= (playMatch.isInvited.status=="rejectedByUser") ? 'checked' : '' %>> Rechazar Invitación<br>
      <input type="radio" name="status" value="sentToUser" <%= (playMatch.isInvited.status=="sentToUser") ? 'checked' : '' %>> No responder Aún<br>
    </div>
    <% } else if (playMatch.isInvited.status == "sentToUser"){ %>
    <div>
      <p> Esperando respuesta </p>
    </div>
      <% } else if (playMatch.isInvited.status == "rejectedByUser"){ %>
      <div>
        <p> Solicitud rechazada </p>
      </div>
        <% } %>
        <div>
          <%if ( playMatch.isInvited.status == "accepted") { %>
            <label for="isAdmin"></label>
            <input type="checkbox" name="isAdmin" <%= (playMatch.isInvited.isAdmin) ? 'checked' : '' %> /> Administrador

            <% } else { %>

              <input type="hidden" name="isAdmin" value=<%false%>>
           <%} %>
           </div>
      <div>
        <input type="submit" name="update" value="Guardar Cambios" />
      </div>
  </form>

</div>

<form action="<%= deleteMatchPlayerPath %>" method="post">
  <div>
    <input type="hidden" name="_method" value="delete" />
  </div>
  <div>
    <input type="submit" name="delete" value="Eliminar" />
  </div>
</form>

<form action=<%= cancelPath %>>
  <input type="submit" value="Cancelar"/>
</form>
